{% extends 'base.html.twig' %}

{% block title %}SpringConcert
{% endblock %}

{% block body %}

	<header>
		<nav>
			<div class="nav-pics">
				<img src="img/LOGOS/spring-concert.png" alt="SpringConcert">
				<p>X</p>
				<img src="img/LOGOS/DEATHLESS-RECORDS.png" alt="DeathlessRecords">
			</div>
			<div class="nav_link">
				<a href="{{ path('main') }}">ACCUEIL</a>
				<a href="{{ path('artistes') }}">ARTISTES</a>
				<a href="#" id="underline">BILLETERIE</a>
				<a href="#">INFOS PRATIQUES</a>
			</div>
		</nav>
	</header>

	<div class="shopping">
		<iframe id="haWidget" allowtransparency="true" scrolling="none" src="https://www.helloasso.com/associations/deathless-record/evenements/spring-concert-1/widget" style="width: 100%; height: 1050px; border: none;"></iframe>
	</div>

{% endblock %}
