* {
    margin:0;
    padding:0; 
}

body {
    background-image: url('../img/98.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    font-family: "Dela Gothic One", sans-serif;
}


header {
    background-color:rgb(217, 217, 217, 0.1);
    display: flex;
}

nav  {
    width: 100%;
    padding-left: 20px;
    padding-top:5px; 
    padding-bottom:5px; 
    display: flex;
    /* justify-content: center;
    align-items: center; */
    color: white;
}

.nav-pics {
    display: flex;
    align-items: center;
}

.nav_link {
    /* position: absolute; */
    margin-right: 350px;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; 
    font-size: 1.8em;
}

.nav_link a {
    margin: 0 30px;
    text-decoration: none;
    color: white;   
}

.nav-pics img{
    margin-right: 10px;
    padding-top:20px; 
    height: 150px;
    width: 150px;
    margin-bottom:20px; 
}

#underline {
    text-decoration: underline;
}

.check{
    display: none;
}

h1 {
    color:white; 
    text-align: center;
    margin:100px; 
    font-size: 5.5em;
}

h2 {
    color:white; 
    text-align: center;
    margin:100px;
    margin-bottom:10px;
    font-size: 4.5em;
}

.list-tarifs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:50px; 
    
}

.img-tarifs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:-160px; 
}

.img-tarifs img{
    height: 318px;
    width: 659px;
    z-index: 10;
}


.list-tarifs p {
    background-color:rgb(28, 28, 28, 0.4);
    border-radius: 133px;
    padding:130px;   
    color:white; 
    font-size:3.5em;
    text-align: center;
}

.map-container {
    display: flex;
    justify-content: center;
    margin:50px;
}

footer {
    background-color:rgb(217, 217, 217, 0.1);
    display: flex;
    color:white;
}


.footer-pics {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-pics img {
    margin-left: 30px;
    margin-bottom:20px;
    padding-top:20px; 
    height: 120px;
    width: 120px;
}

.footer-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em; 
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    margin-left:580px;  
}

.footer-text a {
    text-decoration: none;
    color:white; 
    margin-left:30px;
}

.footer-text a:hover {
    text-decoration: underline;
}

/* Styles pour la section de liens dans le footer */
.footer-links {
    font-family: Arial, Helvetica, sans-serif;
    margin-top:20px; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left:600px;
}

/* Styles pour le titre "Nous contacter" */
.footer-links h3 {
    margin-bottom: 10px;
    font-size:1.5em; 
}

/* Styles pour la section de contact (logo Instagram et nom d'utilisateur) */
.contact-info {
    display: flex;
    align-items: center;
}

/* Styles pour le logo Instagram */
.contact-info img {
    width: 40px; 
    height: 40px;
    margin-right: 10px; 
}

.contact-info a {
    text-decoration: none;
    color:white;
}

.contact-info2 {
    margin-right: 10px; 
    display: flex;
    align-items: center;
    
}

/* Styles pour le logo Instagram */
.contact-info2 img {
    padding-right:12px;
    width: 40px; 
    height: 40px; 
    margin-right: 5px; 
}

.contact-info2 a {
    text-decoration: none;
    color:white;
}

.shopping {
    margin-top:50px;
}

#haWidget{
    width: 100%;
}

.nav-toggle {
    display: none; 
}

#dt-img {
    image-orientation: none;
}


@media only screen and (min-width: 1024px) {

    .menu-ham {
        display: none;
    }
}

@media only screen and (max-width: 768px) {

    *,
    *::after,
    *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

    body {
        background-image: url('../img/98.jpg');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        font-family: "Dela Gothic One", sans-serif;
        color: white; 
    }

    /* Header */
    header {
        display:none;
    }


    h1 {
        color:white; 
        text-align: center;
        font-size: 2em; 
        margin-bottom:-20px;
    }
    

    .ham-menu {
        height: 3rem;
        width: 3rem;
        position: fixed;
        top: 20px;
        left: 20px;
        padding: 0.5rem;
        z-index: 1000; /* Valeur de z-index plus élevée pour placer le menu au-dessus du contenu */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgb(217, 217, 217, 0.3);
        border-radius: 0.25em;
    }
    
    .ham-menu .line {
        background-color: white;
        border-radius: 1em;
        width: 2rem;
        height: 0.25rem;
    }
    
    .ham-menu .line1 {
        transform-origin: 0% 0%;
        transition: transform 100ms ease-in-out;
    }
    
    .ham-menu .line3 {
        transform-origin: 0% 100%;
        transition: transform 100ms ease-in-out;
    }
    
    .check {
        position: absolute;
        top: 8rem;
        left: 8rem;
        height: 3rem;
        width: 3rem;
        opacity: 0;
        z-index: 3;
    }
    
    .check:checked~.ham-menu .line1 {
        display: block;
        transform: rotate(45deg);
    }
    
    .check:checked~.ham-menu .line2 {
        opacity: 0;
    }
    
    .check:checked~.ham-menu .line3 {
        display: block;
        transform: rotate(-45deg);
    }
    
    /* Menu items */
    .menu-items {
        text-align: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 300px;
        height: 250px;
        list-style: none;
        opacity: 0;
        font-size: 1.5em;
        border: 4px solid rgb(217, 217, 217, 0.1);
        background-color: rgb(217, 217, 217);
        border-radius: 0.25em;
        transform: translateX(-10%);
        transition: transform 100ms ease-in-out, opacity 200ms;
        pointer-events: none;
        z-index: 999;
        padding-top:15px;
    }
    
    
    .menu-items li {
        color: white;
        padding: 0.5rem;
    }
    
    .menu-items li a {
        color: white;
        text-decoration: none;
    }
    
    .menu-items li a:hover {
        color: rgb(174, 174, 174);
    }
    
    .check:checked~.menu-items {
        display: block;
        transform: translateX(0%);
        opacity: 1;
        pointer-events: auto; /* Activer les clics sur les liens lorsque le menu est ouvert */
    }

    .shopping {
        display: flex;
        justify-content: center;
    }

    #haWidget {
        width: 90%;
        margin:20px;
        height: 900px;
    }

    .container-titre {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    h2 {
        color:white; 
        text-align: center;
        margin:50px;
        margin-bottom:10px;
        font-size: 1.5em;
    }
    
    .list-tarifs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom:50px; 
        
    }
    
    .img-tarifs{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom:-160px; 
    }
    
    .img-tarifs img{
        height: 130px;
        width: 269px;
        z-index: 10;
    }
    
    
    .list-tarifs p {
        background-color:rgb(28, 28, 28, 0.4);
        border-radius: 40px;
        padding:50px;   
        color:white; 
        font-size:1em;
        text-align: center;
        margin-top:100px;
    }
    
    .map-container {
        display: flex;
        justify-content: center;
        margin:50px;
        margin-left:20px;
        margin-right: 20px;
    }

    .map iframe{
        width: 320px;
        height: 200px;
    }

    footer {
        display: none;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {

    *,
    *::after,
    *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

    body {
        background-image: url('../img/98.jpg');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        font-family: "Dela Gothic One", sans-serif;
        color: white; 
    }

    /* Header */
    header {
        display:none;
    }


    h1 {
        color:white; 
        text-align: center;
        font-size: 3em; 
        margin-bottom:-20px;
    }
    

    .ham-menu {
        height: 3rem;
        width: 3rem;
        position: fixed;
        top: 20px;
        left: 20px;
        padding: 0.5rem;
        z-index: 1000; /* Valeur de z-index plus élevée pour placer le menu au-dessus du contenu */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgb(217, 217, 217, 0.3);
        border-radius: 0.25em;
    }
    
    .ham-menu .line {
        background-color: white;
        border-radius: 1em;
        width: 2rem;
        height: 0.25rem;
    }
    
    .ham-menu .line1 {
        transform-origin: 0% 0%;
        transition: transform 100ms ease-in-out;
    }
    
    .ham-menu .line3 {
        transform-origin: 0% 100%;
        transition: transform 100ms ease-in-out;
    }
    
    .check {
        position: absolute;
        top: 8rem;
        left: 8rem;
        height: 3rem;
        width: 3rem;
        opacity: 0;
        z-index: 3;
    }
    
    .check:checked~.ham-menu .line1 {
        display: block;
        transform: rotate(45deg);
    }
    
    .check:checked~.ham-menu .line2 {
        opacity: 0;
    }
    
    .check:checked~.ham-menu .line3 {
        display: block;
        transform: rotate(-45deg);
    }
    
    /* Menu items */
    .menu-items {
        text-align: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 300px;
        height: 250px;
        list-style: none;
        opacity: 0;
        font-size: 1.5em;
        border: 4px solid rgb(217, 217, 217, 0.1);
        background-color: rgb(217, 217, 217);
        border-radius: 0.25em;
        transform: translateX(-10%);
        transition: transform 100ms ease-in-out, opacity 200ms;
        pointer-events: none;
        z-index: 999;
        padding-top:15px;
    }
    
    
    .menu-items li {
        color: white;
        padding: 0.5rem;
    }
    
    .menu-items li a {
        color: white;
        text-decoration: none;
    }
    
    .menu-items li a:hover {
        color: rgb(174, 174, 174);
    }
    
    .check:checked~.menu-items {
        display: block;
        transform: translateX(0%);
        opacity: 1;
        pointer-events: auto; /* Activer les clics sur les liens lorsque le menu est ouvert */
    }

    .shopping {
        display: flex;
        justify-content: center;
    }

    #haWidget {
        width: 90%;
        margin:20px;
        height: 900px;
    }

    .container-titre {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    h2 {
        color:white; 
        text-align: center;
        margin:50px;
        margin-bottom:10px;
        font-size: 2.5em;
    }
    
    .list-tarifs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom:50px; 
        
    }
    
    .img-tarifs{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom:-160px; 
    }
    
    .img-tarifs img{
        height: 130px;
        width: 269px;
        z-index: 10;
    }
    
    
    .list-tarifs p {
        background-color:rgb(28, 28, 28, 0.4);
        border-radius: 40px;
        padding:50px;   
        color:white; 
        font-size:1.5em;
        text-align: center;
        margin-top:100px;
    }
    
    .map-container {
        display: flex;
        justify-content: center;
        margin:50px;
        margin-left:20px;
        margin-right: 20px;
    }

    .map iframe{
        width: 500px;
        height: 300px;
    }

    footer {
        display: none;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
    /* Styles pour les petits écrans d'ordinateurs */
    .nav-pics img{
        margin-right: 10px;
        padding-top:20px; 
        height: 90px;
        width: 90px;
        margin-bottom:20px; 
    }
    /* Ajustements pour le header */
    .nav_link {
        margin-right: 30px;
        font-size: 1.2em;
        margin-right:150px; /* Réduire la marge pour les petits écrans d'ordinateurs */
    }

    .nav_link a {
        margin: 0 15px;
        text-decoration: none;
        color: white;   
    }
    /* Ajustements pour le texte */
    h1 {
        margin: 70px; /* Réduire la marge pour les petits écrans d'ordinateurs */
        font-size: 3.5em; /* Réduire la taille de la police pour les petits écrans d'ordinateurs */
    }

    h2 {
        color:white; 
        text-align: center;
        margin:50px;
        margin-bottom:10px;
        font-size: 2.5em;
    }
    
    .list-tarifs {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom:50px; 
        
    }
    
    .img-tarifs{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom:-160px; 
    }
    
    .img-tarifs img{
        height: 130px;
        width: 269px;
        z-index: 10;
    }
    
    
    .list-tarifs p {
        background-color:rgb(28, 28, 28, 0.4);
        border-radius: 40px;
        padding:75px;   
        color:white; 
        font-size:2em;
        text-align: center;
        margin-top:100px;
    }
    
    .map-container {
        display: flex;
        justify-content: center;
        margin:50px;
        margin-left:20px;
        margin-right: 20px;
    }

    .map iframe{
        width: 600px;
        height: 350px;
    }

    .footer-text {
        margin-left: 200px; /* Réduire la marge pour les petits écrans d'ordinateurs */
    }

    /* Ajustements pour les images du footer */
    .footer-pics img {
        margin-left: 5px; /* Réduire la marge pour les petits écrans d'ordinateurs */
        margin-bottom: 5px; /* Réduire la marge pour les petits écrans d'ordinateurs */
        height: 60px; /* Réduire la taille des images pour les petits écrans d'ordinateurs */
        width: 60px; /* Réduire la taille des images pour les petits écrans d'ordinateurs */
    }

    /* Ajustements pour la section de liens dans le footer */
    .footer-links {
        margin-left: 20%; /* Réduire la marge pour les petits écrans d'ordinateurs */
    }
}

@media screen and (min-width: 1367px) and (max-width: 1650px) {
    /* Styles pour les petits écrans d'ordinateurs */
    .nav-pics img{
        margin-right: 10px;
        padding-top:20px; 
        height: 90px;
        width: 90px;
        margin-bottom:20px; 
    }
    /* Ajustements pour le header */
    .nav_link {
        /* margin-right: 60px; */
        font-size: 1.4em;
        margin-right:205px; /* Réduire la marge pour les petits écrans d'ordinateurs */
    }

    .nav_link a {
        margin: 0 30px;
        text-decoration: none;
        color: white;   
    }
    /* Ajustements pour le texte */
    h1 {
        margin: 70px; /* Réduire la marge pour les petits écrans d'ordinateurs */
        font-size: 3.5em; /* Réduire la taille de la police pour les petits écrans d'ordinateurs */
    }

    /* Ajustements pour les images du footer */
    .footer-pics img {
        margin-left: 5px; /* Réduire la marge pour les petits écrans d'ordinateurs */
        margin-bottom: 5px; /* Réduire la marge pour les petits écrans d'ordinateurs */
        height: 60px; /* Réduire la taille des images pour les petits écrans d'ordinateurs */
        width: 60px; /* Réduire la taille des images pour les petits écrans d'ordinateurs */
    }

    /* Ajustements pour la section de liens dans le footer */
    .footer-links {
        margin-left: 29%; /* Réduire la marge pour les petits écrans d'ordinateurs */
    }
}
