* {
    margin:0;
    padding:0; 
}

body {
    background-image: url('../img/98.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    font-family: "Dela Gothic One", sans-serif;
}


header {
    background-color:rgb(217, 217, 217, 0.1);
    display: flex;
}

nav  {
    width: 100%;
    padding-left: 20px;
    padding-top:5px; 
    padding-bottom:5px; 
    display: flex;
    /* justify-content: center;
    align-items: center; */
    color: white;
}

.nav-pics {
    display: flex;
    align-items: center;
}

.nav_link {
    /* position: absolute; */
    margin-right: 350px;
    padding-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; 
    font-size: 1.8em;
}

.nav_link a {
    margin: 0 30px;
    text-decoration: none;
    color: white;   
}

.nav-pics img{
    margin-right: 10px;
    padding-top:20px; 
    height: 150px;
    width: 150px;
    margin-bottom:20px; 
}

#underline {
    text-decoration: underline;
}

.check{
    display: none;
}

h1 {
    color:white; 
    text-align: center;
    margin:100px; 
    font-size: 5.5em;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh;  */
    margin: 0 auto;
}

.countdown {
    font-size: 5em;
    color: white;
    text-align: center;
    z-index: 1;
}

.countdown-background {
    width: 90%; 
    max-width: 900px; 
    height: 200px;
    background-color: rgba(217, 217, 217, 0.33);
    z-index: -1;
    border-radius: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.texte p {
    color:white; 
    text-align: center;
    margin-top:150px; 
    font-size:1.5em; 
}

#show-more-btn {
    display: none;
}

.carousel-container {
    margin-top:120px; 
    margin-bottom: 50px; 
    /* min-height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* IMAGE */
.image-container {
    overflow-x: hidden;
    max-width: 768px;
}
.image-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - (1.5rem * (var(--per-view) - 1))) / var(--per-view));
    grid-gap: 1.5rem;
    position: relative;
    left: 0;
    transition: .3s;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .5rem;
}
/* IMAGE */


.down-arrow-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; 
}


.down-arrow {
    width: 300px;
}

.text {
    margin-top:10px;
    color:white;
    text-align: center;
    font-size: 1.7em;
}



.shop-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom:450px;
}


.shop-btn-container button {
    font-family: "Dela Gothic One", sans-serif;
    background-color: rgb(46, 31, 31, 0.75);
    color:white;
    border: none;
    border-radius:30px;
    width: 1000px;
    height: 175px;
    font-size: 3.8em;
}

footer {
    background-color:rgb(217, 217, 217, 0.1);
    display: flex;
    color:white;
}


.footer-pics {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-pics img {
    margin-left: 30px;
    margin-bottom:20px;
    padding-top:20px; 
    height: 120px;
    width: 120px;
}

.footer-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em; 
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    margin-left:580px;  
}

.footer-text a {
    text-decoration: none;
    color:white; 
    margin-left:30px;
}

.footer-text a:hover {
    text-decoration: underline;
}

/* Styles pour la section de liens dans le footer */
.footer-links {
    font-family: Arial, Helvetica, sans-serif;
    margin-top:20px; 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left:600px;
}

/* Styles pour le titre "Nous contacter" */
.footer-links h3 {
    margin-bottom: 10px;
    font-size:1.5em; 
}

/* Styles pour la section de contact (logo Instagram et nom d'utilisateur) */
.contact-info {
    display: flex;
    align-items: center;
}

/* Styles pour le logo Instagram */
.contact-info img {
    width: 40px; 
    height: 40px;
    margin-right: 10px; 
}

.contact-info a {
    text-decoration: none;
    color:white;
}

.contact-info2 {
    margin-right: 10px; 
    display: flex;
    align-items: center;
    
}

/* Styles pour le logo Instagram */
.contact-info2 img {
    padding-right:12px;
    width: 40px; 
    height: 40px; 
    margin-right: 5px; 
}

.contact-info2 a {
    text-decoration: none;
    color:white;
}

.shopping {
    margin-top:50px;
}

.nav-toggle {
    display: none; 
}

#dt-img {
    image-orientation: none;
}


@media only screen and (max-width: 768px) {
    /* Styles de base */
    *,
    *::after,
    *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    body {
        background-image: url('../img/98.jpg');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        font-family: "Dela Gothic One", sans-serif;
        color: white; 
    }

    /* Header */
    header {
        display:none;
    }


    h1 {
        text-align: center; 
        font-size: 1.3em; 
        
    }

    h1 span {
        font-size: 2em;
    }
    

    .ham-menu {
        height: 3rem;
        width: 3rem;
        position: fixed;
        top: 20px;
        left: 20px;
        padding: 0.5rem;
        z-index: 1000; /* Valeur de z-index plus élevée pour placer le menu au-dessus du contenu */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgb(217, 217, 217, 0.3);
        border-radius: 0.25em;
    }
    
    .ham-menu .line {
        background-color: white;
        border-radius: 1em;
        width: 2rem;
        height: 0.25rem;
    }
    
    .ham-menu .line1 {
        transform-origin: 0% 0%;
        transition: transform 100ms ease-in-out;
    }
    
    .ham-menu .line3 {
        transform-origin: 0% 100%;
        transition: transform 100ms ease-in-out;
    }
    
    .check {
        position: absolute;
        top: 8rem;
        left: 8rem;
        height: 3rem;
        width: 3rem;
        opacity: 0;
        z-index: 3;
    }
    
    .check:checked~.ham-menu .line1 {
        display: block;
        transform: rotate(45deg);
    }
    
    .check:checked~.ham-menu .line2 {
        opacity: 0;
    }
    
    .check:checked~.ham-menu .line3 {
        display: block;
        transform: rotate(-45deg);
    }
    
    /* Menu items */
    .menu-items {
        text-align: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 300px;
        height: 250px;
        list-style: none;
        opacity: 0;
        font-size: 1.5em;
        border: 4px solid rgb(217, 217, 217, 0.1);
        background-color: rgb(217, 217, 217);
        border-radius: 0.25em;
        transform: translateX(-10%);
        transition: transform 100ms ease-in-out, opacity 200ms;
        pointer-events: none;
        z-index: 999;
        padding-top:15px;
    }
    
    
    .menu-items li {
        color: white;
        padding: 0.5rem;
    }
    
    .menu-items li a {
        color: white;
        text-decoration: none;
    }
    
    .menu-items li a:hover {
        color: rgb(174, 174, 174);
    }
    
    .check:checked~.menu-items {
        display: block;
        transform: translateX(0%);
        opacity: 1;
        pointer-events: auto; /* Activer les clics sur les liens lorsque le menu est ouvert */
    }
    
    /* Contenu principal */
    .container {
        position: relative; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 50px; 
        text-align: center;
        max-width: 90%; 
        margin-left: auto; 
        margin-right: auto; 
    }

    .container {
        display: flex; 
        justify-content: center;
        margin-right:40px; 
    }
    
    .countdown {
        font-size: 1.5em; 
    }
    
    .countdown-background {
        width: 80%; 
        max-width: 600px; 
        height: 90px; 
        border-radius: 20px;
    }
    
    

    .texte p {
        margin-top: 50px; 
        font-size: 1.2em; 
        margin-left:20px;
        margin-right:20px;
    }

    .carousel-container {
        margin-top: 50px; 
        margin-bottom: 20px;
        display: flex;
        justify-content: center; 
        margin-left: 20px;
        margin-right: 20px; 
    }

    .image-container {
        overflow-x: hidden;
        max-width: 100%; 
    }

    .down-arrow-container {
        display: flex;
        justify-content: center;
        margin-top: 50px; 
    }

    .down-arrow {
        width: 150px;
    }

    .text {
        margin-top:10px;
        color:white;
        text-align: center;
        font-size: 1.2em;
        margin-left:20px;
        margin-right:20px;
    }
    /* Bouton de shopping */
    .shop-btn-container {
        margin-top: 50px; 
        margin-bottom: 100px;
        display: flex;
        justify-content: center; 
    }

    .shop-btn-container button {
        width: 100%; 
        max-width: 400px; 
        height: 80px; 
        font-size: 1.5em;
        padding:20px;  
    }

    #long-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-height: 2em; 
        transition: max-height 0.3s ease, padding-top 0.3s ease;
        padding-top: 0; 
    }
    
    #show-more-btn {
        margin-top:10px; 
        margin-left:10px;
        color:white;  
        background-color:rgb(217, 217, 217, 0.33); 
        border:none; 
        border-radius: 20px;
        width: 100px;
    }
    
    .texte.expanded #long-text {
        max-height: 1000px; 
        padding-top: 10px; 
        white-space: normal; 
    }
    
    
    
    /* Footer */
    footer {
        display: none;
    }

    .footer-pics img {
        height: 80px; 
        width: 80px; 
        margin-bottom: 10px; 
    }

    .footer-text {
        font-size: 1.2em; 
        margin-bottom: 20px; 
    }

    /* Styles pour la section de liens dans le footer */
    .footer-links {
        font-size: 1.2em;
        margin-top: 20px; 
    }

    /* Styles pour le titre "Nous contacter" */
    .footer-links h3 {
        margin-bottom: 10px;
    }

    /* Styles pour la section de contact (logo Instagram et nom d'utilisateur) */
    .contact-info {
        align-items: center;
    }

    .contact-info img {
        width: 30px;
        height: 30px;
        margin-right: 5px; 
    }

    .contact-info2 img {
        width: 30px; 
        height: 30px; 
        margin-right: 5px; 
    }

    .shopping {
        margin-top: 20px; 
    }

}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    /* Styles pour les tablettes */

    *,
    *::after,
    *::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

    body {
        background-image: url('../img/98.jpg');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;
        font-family: "Dela Gothic One", sans-serif;
        color: white; 
    }

    /* Header */
    header {
        display:none;
    }


    h1 {
        text-align: center; 
        font-size: 1.3em; 
        
    }

    h1 span {
        font-size: 2em;
    }
    

    .ham-menu {
        height: 3rem;
        width: 3rem;
        position: fixed;
        top: 20px;
        left: 20px;
        padding: 0.5rem;
        z-index: 1000; /* Valeur de z-index plus élevée pour placer le menu au-dessus du contenu */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgb(217, 217, 217, 0.3);
        border-radius: 0.25em;
    }
    
    .ham-menu .line {
        background-color: white;
        border-radius: 1em;
        width: 2rem;
        height: 0.25rem;
    }
    
    .ham-menu .line1 {
        transform-origin: 0% 0%;
        transition: transform 100ms ease-in-out;
    }
    
    .ham-menu .line3 {
        transform-origin: 0% 100%;
        transition: transform 100ms ease-in-out;
    }
    
    .check {
        position: absolute;
        top: 8rem;
        left: 8rem;
        height: 3rem;
        width: 3rem;
        opacity: 0;
        z-index: 3;
    }
    
    .check:checked~.ham-menu .line1 {
        display: block;
        transform: rotate(45deg);
    }
    
    .check:checked~.ham-menu .line2 {
        opacity: 0;
    }
    
    .check:checked~.ham-menu .line3 {
        display: block;
        transform: rotate(-45deg);
    }
    
    /* Menu items */
    .menu-items {
        text-align: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 300px;
        height: 250px;
        list-style: none;
        opacity: 0;
        font-size: 1.5em;
        border: 4px solid rgb(217, 217, 217, 0.1);
        background-color: rgb(217, 217, 217);
        border-radius: 0.25em;
        transform: translateX(-10%);
        transition: transform 100ms ease-in-out, opacity 200ms;
        pointer-events: none;
        z-index: 999;
        padding-top:15px;
    }
    
    
    .menu-items li {
        color: white;
        padding: 0.5rem;
    }
    
    .menu-items li a {
        color: white;
        text-decoration: none;
    }
    
    .menu-items li a:hover {
        color: rgb(174, 174, 174);
    }
    
    .check:checked~.menu-items {
        display: block;
        transform: translateX(0%);
        opacity: 1;
        pointer-events: auto; /* Activer les clics sur les liens lorsque le menu est ouvert */
    }
    
    /* Contenu principal */
    .container {
        position: relative; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 50px; 
        text-align: center;
        max-width: 90%; 
        margin-left: auto; 
        margin-right: auto; 
    }

    .container {
        display: flex; 
        justify-content: center;
        margin-right:80px; 
    }
    
    .countdown {
        font-size: 1.8em; 
    }
    
    .countdown-background {
        width: 50%; 
        max-width: 600px; 
        height: 90px; 
        border-radius: 20px;
    }
    
    

    .texte p {
        margin-top: 50px; 
        font-size: 1.2em; 
        margin-left:40px;
        margin-right:40px;
    }

    .carousel-container {
        margin-top: 50px; 
        margin-bottom: 20px;
        display: flex;
        justify-content: center; 
        margin-left: 20px;
        margin-right: 20px; 
    }

    .image-container {
        overflow-x: hidden;
        max-width: 100%; 
    }

    .down-arrow-container {
        display: flex;
        justify-content: center;
        margin-top: 50px; 
    }

    .down-arrow {
        width: 150px;
    }

    .text {
        margin-top:10px;
        color:white;
        text-align: center;
        font-size: 1.2em;
        margin-left:20px;
        margin-right:20px;
    }
    /* Bouton de shopping */
    .shop-btn-container {
        margin-top: 50px; 
        margin-bottom: 100px;
        display: flex;
        justify-content: center; 
    }

    .shop-btn-container button {
        width: 100%; 
        max-width: 400px; 
        height: 80px; 
        font-size: 1.5em;
        padding:20px;  
    }

    #long-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-height: 2em; 
        transition: max-height 0.3s ease, padding-top 0.3s ease;
        padding-top: 0; 
    }
    
    #show-more-btn {
        margin-top:15px; 
        margin-left:40px;
        color:white;  
        background-color:rgb(217, 217, 217, 0.33); 
        border:none; 
        border-radius: 20px;
        width: 100px;
    }
    
    .texte.expanded #long-text {
        max-height: 1000px; 
        padding-top: 10px; 
        white-space: normal; 
    }
    
    
    
    /* Footer */
    footer {
        display: none;
    }

    .footer-pics img {
        height: 80px; 
        width: 80px; 
        margin-bottom: 10px; 
    }

    .footer-text {
        font-size: 1.2em; 
        margin-bottom: 20px; 
    }

    /* Styles pour la section de liens dans le footer */
    .footer-links {
        font-size: 1.2em;
        margin-top: 20px; 
    }

    /* Styles pour le titre "Nous contacter" */
    .footer-links h3 {
        margin-bottom: 10px;
    }

    /* Styles pour la section de contact (logo Instagram et nom d'utilisateur) */
    .contact-info {
        align-items: center;
    }

    .contact-info img {
        width: 30px;
        height: 30px;
        margin-right: 5px; 
    }

    .contact-info2 img {
        width: 30px; 
        height: 30px; 
        margin-right: 5px; 
    }

    .shopping {
        margin-top: 20px; 
    }

}

/* @media screen and (min-width: 769px) and (max-width: 1023px) {
    #long-text br {
        display: none;
    }
} */

/* Ajoutez ce bloc de media queries à la fin de votre fichier CSS */

@media screen and (min-width: 1024px) and (max-width: 1366px) {
    /* Styles pour les petits écrans d'ordinateurs */
    .nav-pics img{
        margin-right: 10px;
        padding-top:20px; 
        height: 90px;
        width: 90px;
        margin-bottom:20px; 
    }
    /* Ajustements pour le header */
    .nav_link {
        margin-right: 30px;
        font-size: 1.2em;
        margin-right:150px; /* Réduire la marge pour les petits écrans d'ordinateurs */
    }

    .nav_link a {
        margin: 0 15px;
        text-decoration: none;
        color: white;   
    }
    /* Ajustements pour le texte */
    h1 {
        margin: 70px; /* Réduire la marge pour les petits écrans d'ordinateurs */
        font-size: 3.5em; /* Réduire la taille de la police pour les petits écrans d'ordinateurs */
    }

    .container {
        display: flex; 
        justify-content: center;
        margin-right:15px; 
        margin-top:100px;
    }
    
    .countdown {
        font-size:3em; 
    }
    
    .countdown-background {
        width: 60%; 
        max-width: 600px; 
        height: 90px; 
        border-radius: 20px;
    }

    .texte p {
        margin-top: 50px; 
        font-size: 1.2em; 
        margin-left:40px;
        margin-right:40px;
    }

    .texte {
        margin-top:75px; 
        margin-bottom:100px; 
    }
    /* Ajustements pour le carousel */
    .carousel-container {
        margin-top: 50px; /* Réduire la marge pour les petits écrans d'ordinateurs */
        margin-bottom: 10px; /* Réduire la marge pour les petits écrans d'ordinateurs */
    }

    .shop-btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-bottom:400px;
        margin-right:120px;
    }
    
    /* Ajustements pour le bouton de magasinage */
    .shop-btn-container button {
        width: 150%; /* Réduire la largeur du bouton pour les petits écrans d'ordinateurs */
        height: 100px; /* Réduire la hauteur du bouton pour les petits écrans d'ordinateurs */
        font-size: 2em; /* Réduire la taille de la police pour les petits écrans d'ordinateurs */
    }

    .down-arrow {
        margin-top:50px;
    }
    /* Ajustements pour le footer */
    .footer-text {
        margin-left: 200px; /* Réduire la marge pour les petits écrans d'ordinateurs */
    }

    /* Ajustements pour les images du footer */
    .footer-pics img {
        margin-left: 5px; /* Réduire la marge pour les petits écrans d'ordinateurs */
        margin-bottom: 5px; /* Réduire la marge pour les petits écrans d'ordinateurs */
        height: 60px; /* Réduire la taille des images pour les petits écrans d'ordinateurs */
        width: 60px; /* Réduire la taille des images pour les petits écrans d'ordinateurs */
    }

    /* Ajustements pour la section de liens dans le footer */
    .footer-links {
        margin-left: 250px; /* Réduire la marge pour les petits écrans d'ordinateurs */
    }
}

@media screen and (min-width: 1024px) and (max-width: 1366px) {
    #long-text br {
        display: none;
    }
}

@media screen and (min-width: 1367px) and (max-width: 1650px) {
    /* Styles pour les petits écrans d'ordinateurs */
    .nav-pics img{
        margin-right: 10px;
        padding-top:20px; 
        height: 90px;
        width: 90px;
        margin-bottom:20px; 
    }
    /* Ajustements pour le header */
    .nav_link {
        /* margin-right: 60px; */
        font-size: 1.4em;
        margin-right:205px; /* Réduire la marge pour les petits écrans d'ordinateurs */
    }

    .nav_link a {
        margin: 0 30px;
        text-decoration: none;
        color: white;   
    }
    /* Ajustements pour le texte */
    h1 {
        margin: 70px; /* Réduire la marge pour les petits écrans d'ordinateurs */
        font-size: 3.5em; /* Réduire la taille de la police pour les petits écrans d'ordinateurs */
    }

    .container {
        display: flex; 
        justify-content: center;
        margin-right:15px; 
        margin-top:100px;
    }
    
    .countdown {
        font-size:3em; 
    }
    
    .countdown-background {
        width: 60%; 
        max-width: 600px; 
        height: 90px; 
        border-radius: 20px;
    }

    .texte p {
        margin-top: 50px; 
        font-size: 1.2em; 
        margin-left:40px;
        margin-right:40px;
    }

    .texte {
        margin-top:75px; 
        margin-bottom:100px; 
    }
    /* Ajustements pour le carousel */
    .carousel-container {
        margin-top: 50px; /* Réduire la marge pour les petits écrans d'ordinateurs */
        margin-bottom: 10px; /* Réduire la marge pour les petits écrans d'ordinateurs */
    }

    .shop-btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-bottom:400px;
        margin-right:120px;
    }
    
    /* Ajustements pour le bouton de magasinage */
    .shop-btn-container button {
        width: 150%; /* Réduire la largeur du bouton pour les petits écrans d'ordinateurs */
        height: 100px; /* Réduire la hauteur du bouton pour les petits écrans d'ordinateurs */
        font-size: 2em; /* Réduire la taille de la police pour les petits écrans d'ordinateurs */
    }

    .down-arrow {
        margin-top:50px;
    }
    /* Ajustements pour le footer */
    .footer-text {
        margin-left: 25%; /* Réduire la marge pour les petits écrans d'ordinateurs */
    }

    /* Ajustements pour les images du footer */
    .footer-pics img {
        margin-left: 5px; /* Réduire la marge pour les petits écrans d'ordinateurs */
        margin-bottom: 5px; /* Réduire la marge pour les petits écrans d'ordinateurs */
        height: 90px; /* Réduire la taille des images pour les petits écrans d'ordinateurs */
        width: 90px; /* Réduire la taille des images pour les petits écrans d'ordinateurs */
    }

    /* Ajustements pour la section de liens dans le footer */
    .footer-links {
        margin-left: 25%; /* Réduire la marge pour les petits écrans d'ordinateurs */
    }
}

@media screen and (min-width: 1651px) and (max-width: 1920px) {
    /* Styles pour les petits écrans d'ordinateurs */
    .nav-pics img{
        margin-right: 10px;
        padding-top:20px; 
        height: 90px;
        width: 90px;
        margin-bottom:20px; 
    }
    /* Ajustements pour le header */
    .nav_link {
        /* margin-right: 60px; */
        font-size: 1.4em;
        margin-right:205px; /* Réduire la marge pour les petits écrans d'ordinateurs */
    }

    .nav_link a {
        margin: 0 30px;
        text-decoration: none;
        color: white;   
    }
    /* Ajustements pour le texte */
    h1 {
        margin: 70px; /* Réduire la marge pour les petits écrans d'ordinateurs */
        font-size: 3.5em; /* Réduire la taille de la police pour les petits écrans d'ordinateurs */
    }

    .container {
        display: flex; 
        justify-content: center;
        margin-right:15px; 
        margin-top:100px;
    }
    
    .countdown {
        font-size:3em; 
    }
    
    .countdown-background {
        width: 60%; 
        max-width: 600px; 
        height: 90px; 
        border-radius: 20px;
    }

    .texte p {
        margin-top: 50px; 
        font-size: 1.2em; 
        margin-left:40px;
        margin-right:40px;
    }

    .texte {
        margin-top:75px; 
        margin-bottom:100px; 
    }
    /* Ajustements pour le carousel */
    .carousel-container {
        margin-top: 50px; /* Réduire la marge pour les petits écrans d'ordinateurs */
        margin-bottom: 10px; /* Réduire la marge pour les petits écrans d'ordinateurs */
    }

    .shop-btn-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-bottom:400px;
        margin-right:120px;
    }
    
    /* Ajustements pour le bouton de magasinage */
    .shop-btn-container button {
        width: 150%; /* Réduire la largeur du bouton pour les petits écrans d'ordinateurs */
        height: 100px; /* Réduire la hauteur du bouton pour les petits écrans d'ordinateurs */
        font-size: 2em; /* Réduire la taille de la police pour les petits écrans d'ordinateurs */
    }

    .down-arrow {
        margin-top:50px;
    }
    /* Ajustements pour le footer */
    .footer-text {
        margin-left: 31%; /* Réduire la marge pour les petits écrans d'ordinateurs */
    }

    /* Ajustements pour les images du footer */
    .footer-pics img {
        margin-left: 5px; /* Réduire la marge pour les petits écrans d'ordinateurs */
        margin-bottom: 5px; /* Réduire la marge pour les petits écrans d'ordinateurs */
        height: 90px; /* Réduire la taille des images pour les petits écrans d'ordinateurs */
        width: 90px; /* Réduire la taille des images pour les petits écrans d'ordinateurs */
    }

    /* Ajustements pour la section de liens dans le footer */
    .footer-links {
        margin-left: 30%; /* Réduire la marge pour les petits écrans d'ordinateurs */
    }
}

@media only screen and (min-width: 1024px) {

    .menu-ham {
        display: none;
    }
}