{# templates/footer.html.twig #}

<footer>
	<div class="footer-pics">
		<img src="img/LOGOS/spring-concert.png" alt="SpringConcert">
		<p>X</p>
		<img src="img/LOGOS/DEATHLESS-RECORDS.png" alt="DeathlessRecords" id="dt-img">
	</div>
	<div class="footer-text">
		<p>© Tous droits réservés
			<br>
			<br>
			<a href="{{ asset('pdf/Mentions_legales.pdf') }}" target="_blank">Mentions Légales</a>
		</p>

	</div>
	<div class="footer-links">
		<h3>Nous contacter</h3>
		<div class="contact-info">
			<img src="img/insta-logo.png" alt="logo instagram">
			<a href="https://www.instagram.com/deathless.record/" target="_blank">
				<p>@deathless.record</p>
			</a>
		</div>
		<div class="contact-info2">
			<img src="img/insta-logo.png" alt="logo instagram">
			<a href="https://www.instagram.com/spring.concert/" target="_blank">
				<p>@spring.concert</p>
			</a>
		</div>
	</div>
</footer>
